* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   max-width: 900px;
   width: 100%;
   margin: 0 auto;
}

header {
   background-color: white;
   width: 100%;
   margin: 0 auto;
   padding: 0 20%;

   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;

   display: flex;
   flex-direction: column;

}

h1 {
   font-size: 1.5rem;
   text-align: center;
}

h2 {
   font-size: 1.2rem;
   line-height: 2rem;

}

p {
   line-height: 1.5rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

nav ul {
   display: flex;
   flex-direction: column;
   list-style: none;
}

nav ul li {
   padding: 0.5rem;
   text-align: center;
}

a {
   text-decoration: none;
   color: black;
}

main {
   margin-top: 250px;
   padding: 0 5rem;

   display: flex;
   flex-direction: column;
}

section {
   margin-bottom: 2rem;
}

.hero {
   display: flex;
   justify-content: space-between;

}

.img-container {
   max-width: 100%;
}

#photo {
   max-width: 100%;
   border-radius: 10px 10px;
}

footer {
   width: 100%;
   padding: 0 5rem;
}

.fa-solid,
.fa-brands {
   font-size: 1.5rem;
   width: 2rem;
}

.skills-container {
   padding-top: 1.2rem;
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.contact-container {
   padding-top: 1.2rem;
   width: 20%;
   display: flex;
   justify-content: space-between;

}

@media screen and (min-width:780px) {
   header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   nav ul {
      flex-direction: row;
   }

   nav ul li {
      margin-left: 2rem;
   }

   #photo {
      max-width: 200px;
      margin-left: 1rem;
   }

   main {
      margin-top: 100px;
   }


   .hero article {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
   }

}